*{
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
form{
    margin-top: 10px;
    border: 2px solid purple;
    border-radius: 20px;
    outline:2px solid purple ;
    outline-width: 3px;
    width: 300px;
    height: 50px;
    display: flex;
}
form input{
    font-size:15px;
    flex:1;
    border: none;
    outline:none;
}
button{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 15px;
    background-color: purple;
    padding: 10px 40px;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    letter-spacing: 3px;
    cursor: pointer;
}
form .fa-search{
    align-self: center;
    padding: 5px 10px;
    
}